global:
  scrape_interval: 15s
  scrape_timeout: 10s

scrape_configs:
  - job_name: 'phone-predict'
    metrics_path: /metrics
    scheme: http
    
    static_configs:
    - targets:
      - phone-predict:8000  